.happy-split-container {
  width: 100%;
  height: 100%;
}

.happy-split-container.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.happy-splitter {
  background-color: black;
  opacity: 0.1;
}

.happy-splitter:hover {
  background-color: black;
  opacity: 1.0;
}

.happy-split-view.vertical, .happy-splitter.vertical {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.happy-split-view.horizontal, .happy-splitter.horizontal {
  width: 100%;
  display: block;
}

.happy-splitter.vertical {
  cursor: ew-resize;
}

.happy-splitter.horizontal {
  cursor: ns-resize;
}
