* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  // IE seems to have a problem with full height inline elements forcing a scroll bar. This fixes its brain damage.
  -ms-overflow-y: hidden;
}

.fullHeight {
  height: 100%;
}

.zeroMargin {
  margin: 0;
}

.bgBlue {
  background-color: lightblue;
}

.bgRed {
  background-color: lightpink;
}

.verticalScroll {
  overflow-y: auto;
}

.bigPadding {
  padding: 50px;
}
