{{#happy-split-container isVertical=true}}
  {{#happy-split-view class="bgBlue verticalScroll"}}
    <button {{action 'toggle' 'visible'}}>Toggle Right</button>
    {{lorem-ipsum length=5500}}
  {{/happy-split-view}}
  {{~ happy-splitter-bar isVisible=visible ~}}
  {{#happy-split-view isVisible=visible class="bgRed verticalScroll"}}
    {{lorem-ipsum length=5500}}
  {{/happy-split-view}}
{{/happy-split-container}}

